p = order.discription


p = image_tag order.image_url(:thumb), class: 'img-show' if order.image?


=link_to t('.show'), order_path(order), class: 'btn btn-outline-dark mr-2'
=link_to t('.edit'), edit_order_path(order), class: 'btn btn-outline-dark mr-2'
=link_to t('.delete'), order_path(order), method: :delete, data: {confirm: t('.are_you_sure')}, class: 'btn btn-outline-dark mr-2'